<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Task Manager</a>
    </div>
    <% if current_user.present? %>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign in",user_session_path %>
    <% end %>
  </div>
</nav>